  <ion-toolbar color="primary">
    <ion-title><ion-button color="light" fill="clear" size="large" routerLink="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>My Information Page</ion-title>
  </ion-toolbar>
  
<ion-content class="ion-padding">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Birthdate</ion-label>
      <ion-input type="Date" ></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block">UPDATE</ion-button>
  </ion-card>
</ion-content>
